{% extends 'base.html.twig' %}

{% block body %}
    <h2> Jūsų vartotojas ištrintas! </h2>

    <button onclick="window.location.href = '{{ path("home") }}'">Grįžti į pradinį puslapį</button>
{% endblock %}
