{% extends 'base.html.twig' %}

{% block title %}Visi pažymių vidurkiai{% endblock %}

{% block body %}
    <h1>Mokinių pažymių vidurkiai</h1>
    <br>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Mokinys</th>
            {% for teachingSubject in teachingSubjects %}
                <th scope="row">{{ teachingSubject.teachingSubject }}</th>
            {% endfor %}
        </tr>
        {% for oneStudentWithAverageMarks in studentsWithAverageMarks %}
            <tr>
                {% for item in oneStudentWithAverageMarks %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <button onclick="window.location.href = '{{ path("home") }}'">Grįžti į pradinį puslapį</button>
{% endblock %}
