{% extends 'base.html.twig' %}

{% block title %}Pirmūnų sąrašas{% endblock %}

{% block body %}
    <h1>Pirmūnų sąrašas</h1>
    <br>
    {% if topStudentsList is empty %}
        <p>Pirmūnų sąrašas tuščias</p>
    {% else %}
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Eil nr.</th>
                <th scope="row">Mokinys</th>
                <th scope="row">Mokinio vidurkis</th>
            </tr>
            {% for topStudent in topStudentsList %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ topStudent.student }}</td>
                    <td>{{ topStudent.averageMark|number_format(2, ',') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br><br>
    <button onclick="window.location.href = '{{ path("home") }}'">Grįžti į pradinį puslapį</button>
{% endblock %}
